<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="wrapper">
        <div class="title">
           Delete Account
        </div>
        <form action="/deleted" method="POST">
           <div class="field">
              <input type="text" name="email" required>
              <label>Email Address</label>
           </div>
           <div class="field">
              <input type="submit" value="Submit">
           </div>
       </div>
        </form>
     </div>
</body>
</html>