<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        footer{
            background-color:black;
            padding-top:150px;
        }
        .footer{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:black;
        }
        .states{
            display: flex;
            justify-content: center;
            margin-bottom:50px;
        }
        h2{
            margin-right:10px;
            font-size: x-large;
            font-weight: bold;
            color:white;
        }
        #ss{
            margin-left:10px;
            color:white;
        }
        p{
            color:white;
        }
        #h3{
            color:white;
            display:flex;
            position: relative;
            left:10px;
            margin-bottom:50px;
            align-items: center;
            justify-content:center;
        }
    </style>
</head>
<body>
    <h1 id="h3">CopyRights goes to Jaswanth varma</h1>
    <footer>
        <div class="footer">
        <ol>
            <h2>Get to Know Us</h2>
            <p> About Us</p>
            <p> Careers</p>
           <p> Press Releases</p>
            <p> Amazon Science</p>
        </ol>
        <ol>
            <h2>Connect with us</h2>
            <p>Twitter</p>
            <p>FaceBook</p>
           <p>Instagram</p>
            <p>Telegarm</p>
        </ol>
        <ol>
            <h2>Make Money with Us</h2>
            <p> Sell on Amazon</p>
            <p>Sell under Amazon Accelerator</p>
           <p> Amazon Global Selling</p>
            <p>Fulfilment by Amazon</p>
        </ol>
        </div>
        <div class="states">
            <p id="ss">Andhra Pradesh</p>
            <p id="ss">Telangane</p>
            <p  id="ss">Karnataka</p>
            <p id="ss">Tamilnadu</p>
            <p id="ss">Maharastra</p>
            <p id="ss">Kerala</p>
            <p id="ss">Delhi</p>
            <p id="ss">UttarPradesh</p>
            <p id="ss">Uttarakand</p>
            <p id="ss">Gujarat</p>
        </div>
    </footer>
</body>
</html>